
body {
	margin-top: 20px;
	margin-bottom: 0px;
	background: rgb(0, 26, 75);
	background-image: url('https://www.transparenttextures.com/patterns/always-grey.png');
	min-height: 80%;
	
}

p {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	display: inline-block;
	border: 4px double rgba(255, 255, 255, 0.25);
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: relative;
	top: 20%;
	left: 50%;
	width: 40em;
	margin: 0 0 0 -20em;
	color: #000;
	font-weight: bold;
	font-size: 20px;
}

p span {
	font: 700 4em/1 'Oswald', sans-serif;
	letter-spacing: 0;
	padding: 0.25em 0 0.325em;
	display: block;
	margin: 0 auto;
	text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);

	
	background-size: 50px 50px;
	background-color: rgb(234, 158, 5);
	background-image: -webkit-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
	background-image: -moz-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
	background-image: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%,
		transparent 75%,
		transparent
	);
	-webkit-background-clip: text;

	/* Animate Background Image */

	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 10s linear infinite;

	/* Activate hardware acceleration for smoother animations */

	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

::selection {
	background-color: #c16;
	color: #fff;
}

.wrapper {
	margin-top: 310px;
	display: inline-block;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-filter: drop-shadow(5px 10px 10px #000000);
	filter: drop-shadow(1px 10px 10px #000000);
	z-index: 2;
}

/* parte de tras */
.mail {
	width: 500px;
	height: 200px;
	background: #300000;
	background-image: url('https://www.transparenttextures.com/patterns/ecailles.png');
	position: relative;
	transform-style: preserve-3d;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
/* 1- parte da direita 2- parte debaixo */
.mail:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	border-left: 240px solid Transparent;
	border-right: 250px solid #ffffff;
	border-top: 200px solid Transparent;
	border-bottom: 200px solid #868484;

	z-index: 5;
	border-bottom-right-radius: 10px;
}
/* parte de esquerda */
.mail:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-left: 250px solid #fafafa;
	border-right: 240px solid Transparent;
	border-top: 200px solid Transparent;
	border-bottom: 200px solid #f9f7f7;

	z-index: 4;
	border-bottom-left-radius: 10px;
}
/* parte abertura ^ */
.cover:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-top: 200px solid rgb(59, 57, 57);
	-webkit-filter: drop-shadow(5px 10px 10px #000000);
	filter: drop-shadow(1px 5px 10px #000000);
	border-bottom: 200px solid transparent;
	z-index: 6;
	transform-origin: top;
	transform: rotateX(0deg);
	transition: all 1s 1s ease;
}
/* parte do bilhete */
.letter {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 10px;
	background-color: #0a0a0a;
	background-image: url('https://www.transparenttextures.com/patterns/dark-leather.png');
	width: 480px;
	height: 380px;
	border-radius: 20px;
	transition: all 1s ease;
}

.wrapper img {
	margin-top: 95px;
	width: 90px;
	z-index: 100;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-filter: drop-shadow(5px 10px 10px #000000);
	filter: drop-shadow(1px 5px 10px #000000);
}

.letter h1 {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(
		top,
		#efd100 0,
		#e2a233 38%,
		#f0c328 60%,
		#fff1a3 86%,
		#ffe13e 100%
	);
	background-size: 1em 1em;
	color: #f8b700;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	font-weight: 900;
	/*text-shadow: 0px 3px 10px rgba(243, 243, 243, 0.6);*/
	font-family: 'Updock', cursive;
}
.letter h2 {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(
		top,
		#efd100 0,
		#e2a233 38%,
		#f0c328 60%,
		#fff1a3 86%,
		#ffe13e 100%
	);
	background-size: 1em 1em;
	color: #f8b700;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px;
	font-weight: 900;
}
.letter h3 {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(
		top,
		#efd100 0,
		#e2a233 38%,
		#f0c328 60%,
		#fff1a3 86%,
		#ffe13e 100%
	);
	background-size: 1em 1em;
	color: #f8b700;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px;
	font-weight: 900;
}
.letter h4 {
	background-clip: text;
	background-size: 1em 1em;
	color: #f8b700;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px;
	font-weight: 900;
}
.letter h5 {
	background-clip: text;
	background-size: 1em 1em;
	color: #f8b700;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px;
	font-weight: 900;
}
.letter h6 {
	background-clip: text;
	background-size: 1em 1em;
	color: #f8b700;
	position: absolute;
	top: 43%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px;
	font-weight: 900;
}

/* a {
	text-decoration: none;
	color: #f8b700;

	position: absolute;
	top: 40%;
	left: 70%;
	transform: translate(-50%, -50%);
	font-size: 15px;
	cursor: pointer;
	z-index: 1000;
} */

#escrita {
	margin-top: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#escrita h1 {
	font-size: 50px;
	font-weight: 900;
	color: #000000;
}

/* hover effect */
.mail:hover .cover:before {
	transform: rotateX(180deg);
	transition: all 1s ease;
	z-index: -1;
}

.mail:hover .letter {
	top: -80px;
	transition: all 1s 1s ease;
}


#container {
	position: fixed;
	top: 96%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
}

a {
	width: 420px;
}

